<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.zqplayer.mapper.UserMapper">
    <select id="getUserByUserId" resultType="com.zq.zqplayer.model.UserInfo">
      select * from user where userId = #{userId}
    </select>

    <select id="getUserByName" resultType="com.zq.zqplayer.model.UserInfo">
      select * from user where userName = #{name}
    </select>

    <insert id="insertUser" parameterType="com.zq.zqplayer.model.UserInfo">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName.length()>0">
                userName,
            </if>
            <if test="password != null and password.length()>0">
                password,
            </if>
            userId
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName.length()>0">
                #{userName},
            </if>
            <if test="password != null and password.length()>0">
                #{password},
            </if>
            #{userId}
        </trim>
    </insert>

</mapper>